.heroBanner {
  .imagebox {
    @media screen and (min-width: ($lg)) {
      &:before {
        content: '';
        position: absolute;
        height: calc(100% + 2px);
        width: calc(100% + 2px);
        border: 1px solid $black;
        top: -1px;
        left: -1px;

        @media screen and (min-width: ($lg)) {
          top: 15px;
          left: -20px;
        }

        @media screen and (max-width: ($sm - 1)) {
          border-top: none;
          border-left: none;
          border-right: none;
        }
      }
    }
  }
  .secondaryImage {
    @media screen and (min-width: ($lg)) {
      right: 50px;
      top: calc(100% - 120px);
      width: 30vw;
      max-width: 350px;
    }
  }
}
