// breakpoints
$xs: 360px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
// colors
$white: #fffefe;
$black: #0a0a0a;
$red: #ec5d4e;
$orange: #ff9327;
$yellow: #ffe32a;
$green: #00ad00;
$blue: #58b5ed;
$indigo: #a351e0;
$violet: #e051cc;
